<body>
    <div class="container mb-5 mt-5">
        <div class="row mb-5">
            <div class="col-md-12">
                <h1 class="text-center text-secondary"> Apagar Tema</h1>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-12">
                <h4 class=" text-center text-secondary">
                    Você tem certeza que desejaapagar esse Tema?🤔<br>Todas as postagens relacionadas a ele, serãoigualmente apagadas.😁
                </h4>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <h5 class=" text-center text-info">
                    Tema:{{temaDelet.descricao}}
                </h5>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-12">
                <button class="btn btn-outline-danger" routerLink='/tema'> Não</button>
                <button class="btn btn-outline-success" (click)='apagar()'>Sim</button>
            </div>
        </div>

    </div>
</body>