<body>
    <div class="container-fluid">

        <div class="row d-flex align-items-center">
            <div class="col-md-6 caixaLogin">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6">
                        <h1 class="text-center mt-4 mb-5 "> ENTRAR </h1>
                        <div class="form-group campo">
                            <input type="text" id="usuario" class="form-control" required/>
                            <label for="usuario"> Usuário:</label>
                        </div>
                        <div class="form-group campo">
                            <input type="password" placeholder="" id="suario" class="form-control" required/>
                            <label for="senha"> Senha:</label>
                        </div>
                        <div class="form-group d-flex justify-content-center mb-4">
                            <input type="checkbox" checked="checked" name="checked" id="checked" class="checked mr-2">
                            <label class="checkbox2">Lembrar-me</label>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class=" btn btn-outline-dark px-5 button1">Entrar</button>
                        </div>
                        <hr class="mt-4 mb-4">
                        <div>

                            <p class=" text-center">Não tem uma conta?<a href="" routerLink="/cadastrar"> Cadastre-se </a></p>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6" id="bg-img">
                <!-- imagem -->
            </div>


        </div>
    </div>
</body>