@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Nosifer&display=swap');

/* *margin {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(rgba(182, 182, 182, 0.159), rgba(182, 182, 182, 0.138)), url("https://i.imgur.com/FGrvS6j.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

.caixaLogin {
    background: linear-gradient(rgba(33, 1, 1, 0.481), rgba(136, 2, 2, 0.59));
    padding: 1rem;
    border-radius: 0 15rem 0 15rem;
    box-shadow: 0 2rem 2rem;
    position: relative;
}

.caixaLogin .campo input {
    width: 100%;
    padding: 10px;
    font-size: 17px;
    background: transparent;
    color: #ffffff;
    letter-spacing: 5px;
    border: none;
    outline: none;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 30px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.caixaLogin .campo input:focus {
    outline: none;
}

.caixaLogin .campo {
    position: relative;
}

input:focus {
    outline: 0;
}

textarea:focus,
input:focus,
select:focus,
.button1 {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.caixaLogin .campo label {
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    padding: 10px 0;
    font-size: 16px;
    color: #ffffff;
    font-family: 'Cinzel', serif;
    pointer-events: none;
    transition: .5s;
}

.caixaLogin .campo input:focus~label,
.caixaLogin .campo input:valid~label {
    top: -20px;
    left: 0;
    color: #ffffff;
    font-size: 12px;
    outline: none;
}

.checkbox2 {
    margin-top: -6px;
    color: #ffffff;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
}


/*ja estava*/

h1 {
    /* font-family: 'Cinzel', serif; */
    font-family: 'Nosifer', cursive;
    color: rgb(255, 255, 255);
    /* text-shadow: 0.1em 0.1em rgba(255, 183, 0, 0.412); */
}

p,
label {
    font-family: 'Cinzel', serif;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

hr {
    background-color: rgb(255, 183, 0);
}

a {
    font-family: 'Cinzel', serif;
    color: rgb(255, 183, 0);
}


/* .button1 {
    font-family: 'Cinzel', serif;
    background-color: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    color: rgb(252, 252, 252);
    border: 1px solid rgb(255, 183, 0);
} */

.button1 {
    font-size: 11pt;
    font-family: 'Cinzel', serif;
    background-color: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    color: rgb(252, 252, 252);
    border: 1px solid rgb(255, 183, 0);
}

.button1:hover {
    font-family: 'Cinzel', serif;
    background-color: rgb(36, 0, 0);
    color: rgb(255, 183, 0);
    border: 1px solid rgb(255, 183, 0);
}

#bg-img {
    background-image: linear-gradient(rgba(90, 3, 3, 0.4), rgba(255, 217, 0, 0.172)), url("https://i.imgur.com/X89SL1E.jpg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}